.irs {
    height: 40px; 
    width: 200px;    
}

.irs-line {
    height: 2px; top: 25px;
    background: #D8DCDD;
}

.irs-bar {
    height: 2px; top: 25px;
    background: #03C876;
}

.irs-slider {
    width: 22px; height: 22px;
    top: 15px;
    border-radius: 50%;
    background: #fff;
    background: radial-gradient(ellipse at center, #aaaaaa 13%, #ffffff 13%);
}

/* цифры над точками*/
.irs-from, .irs-to, .irs-single {
/*    display: none;*/
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(0,0,0,3);
    border-radius: 3px;
}



