dd
/*RESET*/

html,
body,
div,
span,
applet,
object,
i_frame,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "PTSans Narrow";
  src: url("/fonts/PTSansNarrowRegular/PTSansNarrow.eot");
  src: url("/fonts/PTSansNarrowRegular/PTSansNarrow.eot?#iefix")format("embedded-opentype"), url("/fonts/PTSansNarrowRegular/PTSansNarrow.woff") format("woff"), url("/fonts/PTSansNarrowRegular/PTSansNarrow.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSans Narrow";
  src: url("/fonts/PTSansNarrowBold/PTSansNarrowBold.eot");
  src: url("/fonts/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"), url("/fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"), url("/fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

/*HEADER*/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'PTSans Narrow', sans-serif;
}

body.main {
  background: #000 url("/Maket/background-main2.jpg") 50.2% 0% no-repeat;  
}

.wrapper {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

header {
  background: #000;
  display: block;
}

.menu li {
  float: left;
  position: relative;
}

.menu li:not(.active):hover,
.menu li:not(.active):active {
  background-color: #242424;
}

header a, header span {
  font-family: 'PTSans Narrow', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 72px;
  text-align: center;
  padding: 0px 20.5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header span {
  cursor: default;
}

.menu li:nth-child(n+4) a{
  padding-left: 22.5px;
}

header li.active::after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  bottom: 0px;
  left: 20px;
  right: 20px;
  height: 4px;
  z-index: 100;
}

.menu img {
  vertical-align: middle;
}

.login {
  float: right;
  width: 140px;
}

.login button {
  position: relative;
  font-family: 'PTSans Narrow', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 72px;
  margin-left: 33px;
  padding: 0;
  padding-left: 27px;
  width: 107px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background: #000;
  cursor: pointer;
}

.login button::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 16px;
  left: 18px;
  top: 39%;
  background: url(Maket/iconlogin.png) 0% 0% no-repeat;
  z-index: 5;
}

.login button:focus {
  outline: none;
}


.login:active button,
.login:hover button{
  background-color: #242424;  
}

.login:active button::before,
.login:hover button::before {
  background: url(Maket/iconlogin.png) right no-repeat;
}


.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

img.logo {
  display: block;
  margin: 57px auto 0;
  position: relative;
  left: 5px;
}

.promo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 26px;
  color: #f7f4f1;
  width: 300px;
}

.promo-block b {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 74px;
  background: url(Maket/Diamond.svg) no-repeat center 66%;
}

.promo-block p {
  margin-top: 1px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding: 0;
}

.content,
.content-2 {
  background: url(Maket/content-bg-line.png) no-repeat 50% 50%, #fff url(Maket/content-bg.png) repeat;
  margin-top: 79px;
}

.content-left,
.content-right {
  padding: 51px 80px 53px 80px;
  max-width: 470px;
}

.content-left {
  float: left;
}

.content-right {
  float: right;
  padding-left: 92px;
}

.content h2,
.content-2 h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content p,
.content-2 p {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.content time {
  font-family: 'PTSans Narrow', sans-serif;
  line-height: 24px;
  font-size: 14px;
}

.content .content-left li:nth-child(n+2) {
  display: block;
  margin-top: 24px;
}

.btn {
  display: inline-block;
  width: 140px;
  height: 43px;
  font-size: 14px;
  text-decoration: none;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.btn:hover {
  background: #663d15;
}

.content .content-left a.btn {
  margin-top: 29px;
  margin-bottom: 2px;  
  padding: 15px 0px 0px 35px;
/*  140x43*/
}

.gallery {
  min-width: 320px;
}

.gallery img {
  margin: 7px 0 0 -2px;
  border: 7px solid #fff;
}

.gallery .btn {
  border: none;
  margin-top: 34px;
  margin-left: -2px;
  padding: 13px 50px 12px 54px;
  font-family: 'PTSans Narrow', sans-serif;
  cursor: pointer;

}

.gallery .btn.gallery-next {
  margin-left: 16px;
  padding: 0px 0px 0px 4px;
}

.content-2 {
  margin-top: 34px;  
  margin-bottom: 64px;
}

.content-2 .content-left, .content-2 .content-right {
    padding-bottom: 62px;
}

.content-2 .content-left {
  padding-right: 20px;
}

.content-2 .content-left p:last-child {
  display: block;
  margin-top: 24px;
}

.content-2 .content-left .btn {
  margin-top: 45px;
  padding: 15px 0px 0px 32px;  
}

.content-2 .content-left .btn:nth-child(even) {
  margin-left: 16px;
  padding: 15px 0px 0px 27px;
}

.form input {
  margin: 27px 0px -8px -2px; 
  padding-left: 15px;
  height: 43px;
  width: 140px;
  border: 2px solid #000;
  font-weight: bold;  
  font-family: 'PTSans Narrow', sans-serif;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form input:focus {
  border: 2px solid #663d15;
  outline: none;
}

.form input:nth-child(odd) {
  margin-left: 16px;
}

.form submit {
  width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 42px;
  margin-left: -2px;
  padding: 14px 0px 0px 114px;
  cursor: pointer;
}

.form submit:hover {
  cursor: pointer;
}

footer {
  padding-top: 56px;
  display: block;
  min-height: 189px;
  background: gray url("Maket/footer-bg.jpg") repeat;
}

.address, .social, .creators {
  display: inline-block;
  vertical-align: top;
  margin-right: 88px;
}

.creators {
  float: right;
  margin-right: 0;
}

footer p, footer a {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.social p {
  text-align: center;
}

.social-icon{
  margin-top: 15px;
  margin-right: -6px;
}

.social a {
  display: block;
  float: left;
  width: 43px;
  height: 43px;
  margin-right: 6px;
  background: #000 url('Maket/social.png');
}

.social a:hover {
  background: #fff url('Maket/social.png') 0 100%;
}

.social .vk {
  background-position: 0 0;
}

.social .vk:hover {
  background-position: 0 100%;
}

.social .f {
  background-position: 50% 0;
}

.social .f:hover {
  background-position: 50% 100%;
}

.social .inst {
  background-position: 100% 0;
}

.social .inst:hover {
  background-position: 100% 100%;
}

.creators p {
  padding-left: 30px;
}

.creators a {
  margin-top: 15px;
  padding-top: 9px;
  padding-left: 24px;
  -webkit-transition: color 1s linear 0s, 
              background 1s linear 0.1s;
  transition: color 1s linear 0s, 
              background 1s linear 0.1s;
}

.creators a:hover {  
  color: #000;
  background: #fff;  
}

                                  /*-------------------------------
                                    Всплывающая форма регистрации
                                  ---------------------------------*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.8);
}

.modal-content {  
  position: relative;
  background: #fefefe;
  margin: 120px auto;  
  padding: 45px 20px 20px 80px;
  width: 460px;
  height: 385px;
  background: #fff url(Maket/content-bg.png) repeat;
  font-weight: bold;  
  font-family: 'PTSans Narrow', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.modal-content h1 {
  font-size: 30px;
  margin-left: 2px;
  margin-bottom: 20px;
}

.modal-content form {
  width: 300px; 
}

.modal-content legend {
  margin-left: 2px;
  margin-bottom: 16px;
}

.modal-content label:nth-last-child(3) {
  display: inline-block;
  margin-top: 5px;
}

.modal-content input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 43px;
  border: 2px solid #000;
  margin-bottom: 9px;
  font-weight: bold;  
  font-family: 'PTSans Narrow', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 15px;
}

.modal-content .input-login  {
  background: url(Maket/user.png) no-repeat 95% 50%;
}

.modal-content .input-password  {
  background: url(Maket/lock.png) no-repeat 95% 50%;
}

.modal-content input[type="checkbox"]  {
  display: none;
}

.modal-content .checkbox-custom {
  display: inline-block;
  vertical-align: text-bottom;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  height: 20px;
  width: 20px;
  border: 2px solid #000;
  position: relative;
  margin-right: 12px;
}

.modal-content .nomemory {
  color: #000;
  margin-left: 72px;
}

.modal-content .btn {
  margin-top: 18px;
  width: 100%;  
  padding: 14px 0 0 128px;
}

.close {
  position: absolute;
  top: -6px;
  right: -34px;
  color: #d0d0d0;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

                                  /*-------------------------------
                                        Всплывающая карта
                                  ---------------------------------*/

.modalMap {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.8);
}

.modal-map-content {  
  position: relative;
  background: #fefefe;
  margin: 120px auto;
  padding: 7px;
  width: 780px;
  height: 574px;
  font-weight: bold;  
  font-family: 'PTSans Narrow', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.closeMap {
  position: absolute;
  top: -6px;
  right: -34px;
  color: #d0d0d0;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}


                      /* ---------------
                      BARBERSHOP-SHOP
                      ------------------*/
.body-shop,
.body-item {
  background: #fff url("/Maket/content-bg.png");
  font-family: 'PTSans Narrow', sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: bold;
}

.shop h1 {
  margin-top: 50px;
}

.breadcrumbs {
  margin-top: 15px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  margin-right: 25px;
  margin-left: 7px;
}

.breadcrumbs a:nth-child(1) {
  margin-left: 0;
}

.breadcrumbs a:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  position: absolute;
  bottom: 4px;
  right: -26px;
  
}

.breadcrumbs span {
  color: #aba9a7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sorting {
  width: 20%;
}

.producers {
  margin-bottom: 32px;
}

.sorting legend {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.sorting label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px; 
  font-size: 0px;
}

.sorting input {
  display: none;
}



.sorting .checkbox-custom,
.sorting .radio-custom {
  display: inline-block;
  vertical-align: text-bottom;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  height: 20px;
  width: 20px;
  border: 2px solid #000;
  position: relative;
  margin-right: 23px;
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  width: 14px; 
  height: 14px; 
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(42%, transparent), color-stop(42%, #000),                 color-stop(58%, #000), color-stop(58%, transparent)), 
              -webkit-gradient(linear, left top, right top, color-stop(42%, transparent), color-stop(42%, #000), color-stop(58%, #000), color-stop(58%, transparent));
  background: linear-gradient(to bottom, transparent 42%, #000 42%,                 #000 58%, transparent 58%), 
              linear-gradient(to right, transparent 42%, #000 42%, #000 58%, transparent 58%);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sorting .label {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.sorting label:hover .label {
  color: #663d15;
}

.categories label {
  margin-bottom: 19px;
}

.categories label:last-of-type {
  margin-bottom: 48px;
}

.sorting .radio-custom {  
  border-radius: 50%;
}

.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  width: 14px; 
  height: 14px; 
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  background: radial-gradient(circle, #000 38%, transparent 40%);
}

.sorting .producers input:disabled ~ .label,
.sorting .producers input:disabled ~ .checkbox-custom,
.sorting .producers input:disabled ~ .radio-custom {
  color: #aaa9a6;
  border-color: #aaa9a6;
}

.sorting .btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 112px;
  font-size: 13px;
  line-height: 18px;
  padding: 14px 0px 0px 34px;
  cursor: pointer;
}

.products {
  max-width: 700px;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;  
  margin-bottom: 24px;
}

.products:after {
   content: "";
   -ms-flex-preferred-size: 31%;
   flex-basis: 31%;
}

.product {
  background: #fff;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  margin:0 auto 20px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,1,1, 0.2);
  box-shadow: 0 0 15px 0 rgba(0,1,1, 0.2);
}

.product-name {
  margin-top: 10px;
  padding: 0 16px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
}

.product-name span:last-child {
  text-transform: uppercase;
}

.product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 13px 17px 17px 16px;
  height: 43px;
  background: #e5e5e5;
  font-weight: bold;
}

.product-price span {
  margin: auto;
  font-size: 14px;
  line-height: 18px;
}

.product-price .btn {
  width: 78px;
  font-family: 'PTSans Narrow', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}

.paginator {
  font-size: 0;  
}

.paginator a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 43px;
  width: 43px;
  margin-right: 7px;  
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.paginator a.page-active {
  background: #fff;
  color: #000;
  }

.paginator a:hover {
  background: #663d15;
}

                  /*-----------------
                    BARBERSHOP-ITEM
                  ------------------*/

body.body-item,
body.body-price {
  background: #fff url(/Maket/content-bg.png); 
}

.h1-item,
.h1-price {
  margin-top: 50px;
  margin-bottom: 17px;
}

.flex-item {
  margin-bottom: 49px;
}

.item-photos {
  margin-top: 6px;
}

.item-photos img {
  -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 1, 1, 0.2);
  box-shadow: 1px 1px 15px 0px rgba(0, 1, 1, 0.2);
}

.mini-photo {
  margin-top: 19px;
  font-size: 0;
}

.mini-photo a:nth-child(n+2) img {
  margin-left: 20px
}

.item-specification {
  margin-left: 90px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'PTSans Narrow', sans-serif;
  line-height: 24px;
  text-transform: uppercase;
}

.spans  {
  margin-top: 24px;
}

.span-one {
  float: left;
}

.span-two {
  float: right;
  color: #aeaeae;
}

.item-specification p {
  margin-top: 29px;
}

.item-specification .product-price {
  margin: 36px 0 0 0;
  width: 187px;
}

.item-specification h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 61px;
}

.item-specification ul {
  margin-top: 28px;
}

.item-specification li {
  position: relative;
  padding-left: 14px;
}

.item-specification li:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  position: relative;
  left: -8px;
}

                  /*-----------------
                    BARBERSHOP-PRICE
                  ------------------*/

body.body-price {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.tittle {
  display: block;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 45px;
  position: relative;
}

.tittle:before,
.tittle:after {
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
}

.tittle:after {
  right: 0;
}

.body-price .flex {
  margin-top: 62px;
  margin-bottom: 46px;
}

.flex-price {
  width: 49%;  
}

.body-price h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  width: 55%
}

.body-price .flex-price:nth-child(2) h3 {
  width: 45%;
}

.price-product-name ul {
  margin-top: 26px;
}

.price-product-name li {
  position: relative;
  padding-left: 14px;
  margin-bottom: 13px;
}

.price-product-name li:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  position: relative;
  left: -8px;
}

.price-table table {
   width: 100%;
  margin-top: 33px;
  margin-left: 1px;
}

.price-table td {
  border: 2px solid #000;
  width: 50%;
  height: 41px;
  padding-left: 17px; 
  vertical-align: middle;
}

.price-table td:last-child {
  text-align: center;
  padding-left: 4px;
}

.about-us {
  margin-bottom: 77px;
}

.body-price .about-us .flex {
  margin-top: 27px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.about-us p {
  width: 41%;  
}

.about-us p:first-child {
  margin-right: 95px;
}

.fa {
  font-size: 13px !important;
}
